<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/pintuer.js"></script>
<style type="text/css">
      button[type=submit]  {
        border:none;
        background:#fff;
      }
      .inp1 input[type=text] {
        width:130px;
        height:40px;
        text-align: center;
        border: none;
      }
</style>
</head>
<body>

  <div class="panel admin-panel">
   <div class="panel-head"><strong class="icon-reorder"> 阅读列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
     <!-- <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        
        <li>
          <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a></li>
      </ul>
    </div> -->
    <table class="table table-hover text-center">
      <tr>
         <th width="100" style="text-align:left; padding-left:20px;"></th>
        <th>封面</th>
        <th>书名</th>
        <!-- <th>书籍简介</th> -->
        <th>作者</th>
        <th>类型</th>
        <th width="10%">最近更新</th>
        <th>操作</th>
      
       </tr>
      <volist name="list" id="vo">
        {foreach $res as $val}
          <form method="post" action="" id="listform">
            <tr>
              <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="" />
               </td>
              
              <td class="inp1"><img src="{$val['cover']}" style="width:60px;height:40px;" /></td>
              <!-- <td class="inp1"><font color="#00CC99"><input type="text" name="description" value="{$val['description']}"></font></td> -->
              <td class="inp1"><font color="#00CC99"><input type="text" name="bname" value="{$val['bname']}"></font></td>
              <td class="inp1"><font color="#00CC99"><input type="text" name="author" value="{$val['author']}"></font></td>
              <td class="inp1"><font color="#00CC99"><input type="text" name="name" value="{$val['name']}"></font></td>
              
              <td class="inp1"><input type="text" name="uptime" value="{$val['uptime']}"></td>
              
              <td>
                 <div class="button-group"> 
                  <button type="submit">
                      <a class="button border-main" href="{:url('book/returnBook')}?rid={$val['id']}">
                        <span class="icon-edit"></span> 返回书籍列表
                    
                      </a>
                  </button>
                <!--   <button type="submit">
                    <a class="button border-red" href="{:url('book/delBook')}?did={$val['id']}" >
                      <span class="icon-trash-o"></span>删除
                    </a>
                  </button> -->
                </div>
              </td>
            </tr>
         </form>
     {/foreach}
      <tr>
        <td colspan="8"><div class="pagelist"> {$page} </div></td>
      </tr>
    </table>
  </div>

<script type="text/javascript">

//搜索
function changesearch(){  
    
}

//单个删除
function del(id,mid,iscid){
  if(confirm("您确定要删除吗?")){
    
  }
}

//全选
$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
    if (this.checked) {
      this.checked = false;
    }
    else {
      this.checked = true;
    }
  });
})

//批量删除
function DelSelect(){
  var Checkbox=false;
   $("input[name='id[]']").each(function(){
    if (this.checked==true) {   
    Checkbox=true;  
    }
  });
  if (Checkbox){
    var t=confirm("您确认要删除选中的内容吗？");
    if (t==false) return false;   
    $("#listform").submit();    
  }
  else{
    alert("请选择您要删除的内容!");
    return false;
  }
}


</script>
</body>
</html>