<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/pintuer.js"></script>  
    <style type="text/css">
      button[type=submit]  {
        border:none;
        background:#fff;
      }
      .inp1 input[type=text] {
        width:100px;
        height:40px;
        text-align: center;
        border: none;
      }
</style>
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <!-- <div class="panel-head"><strong class="icon-reorder"> 留言管理</strong></div> -->
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120"></th>
        <th>书名</th>       
        <th>用户名</th>
        <th>内容</th>
        <th>时间</th>
        <th>操作</th>       
      </tr>      
          {foreach $res as $val}
          <form method="post" action="" id="listform">
            <tr>
              <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id[]" value="" />
               </td>
              <td class="inp1"><input type="text" name="name" value="{$val['bname']}"></td>
              <td class="inp1"><font color="#00CC99"><input type="text" name="username" value="{$val['username']}"></font></td>
              <td class="inp1"><font color="#00CC99"><input type="text" name="content" value="{$val['content']}"></font></td>
              <td class="inp1"><font color="#00CC99"><input type="text" name="create_time" value="{$val['create_time']}"></font></td>
              
              <td>
                 <div class="button-group"> 
                 <!--  <button type="submit">
                      <a class="button border-main">
                        <span class="icon-edit"></span> 编辑
                    
                      </a>
                  </button> -->
                  <button type="submit">
                    <a class="button border-red" href="{:url('book/interPinlun')}?pid={$val['pid']}" >
                      <span class="icon-trash-o"></span>放入回收站
                    </a>
                  </button>
                </div>
              </td>
            </tr>
         </form>
     {/foreach}
      <tr>
        <td colspan="8"><div class="pagelist"> {$page}</div></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>