<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="__INDEX_CSS__/pintuer.css">
    <link rel="stylesheet" href="__INDEX_CSS__/admin.css">
    <script src="__INDEX_JS__/jquery.js"></script>
    <script src="__INDEX_JS__/pintuer.js"></script>  
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 审核状态</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <!-- <li> -->
          <!-- <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button> -->
          <!-- <button type="submit" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button> -->
        <!-- </li> -->
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120"></th>
        <th style="100px;">姓名</th>       
        <th width="50%">审核内容</th>
         <th width="270">提交时间</th>
		<th width="120">状态</th>   
      </tr>      
        <tr>
          <!-- <td><input type="checkbox" name="id[]" value="1" /> -->
            <!-- 1</td> -->
          <td></td>
          <td>admin</td>
          <td>申请作者</td>  
          <td>2016-07-01</td>
          <td>已通过</td> 
        </tr>
      
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}

</script>
</body></html>